body {
    background-color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

main{
    background-color: white;
    max-width: 100%;
}

#nav {
	float: center;
    position: fixed;
    z-index: 2;
    background-color: white;
    width: 100%;
    height: 5em;
    top: 0;
	-webkit-box-shadow: 0 8px 6px -6px #8888, 0 0 7px rgba(0, 0, 0, 0.2) inset;
}

#nav .logo {
    width: 4%;
    float: left;
    margin-top: 1%;
    margin-left: 1%;
	border-radius: 50%;
	border: 1px solid #36bca4;;
}



.navbutton {
    background-color: white;
    width: 14%;
    max-width: 14%;
    height: inherit;
    max-height: inherit;
    margin-bottom: 1%;
    margin-top: 1%;
    color: #36bca4;
    border: none;
    font-family: 'Work Sans', sans-serif;
    padding: 20px 7px;
    -webkit-box-shadow: 0 8px 6px -6px #8888,1px 1px 3px rgba(0, 0, 0, 0.1) inset;
    font-size: 135%;
    
    
}


.navbutton:hover {
    
    background-color: white;
    width: 14%;
    max-width: 14%;
    height: inherit;
    max-height: inherit;
    color: #36bca4;
    border: 1px solid #36bca4;
    -webkit-box-shadow: 0 8px 6px -6px #8888, 0 0 3px rgba(0, 0, 0, 0.1) inset;
    
    
}

.navbutton1 {
            background-color: #36bca4;
            width: 14%;
            max-width: 14%;
            height: inherit;
            max-height: inherit;;
            margin-bottom: 1%;
            margin-top: 1%;
            color: white;
            border: none;
            padding: 20px 7px;
            -webkit-box-shadow: 0 8px 6px -6px #8888, 0 1px 3px 2px rgba(0, 0, 0, 0.2) inset;
            font-size: 135%;
            
            }
            
.navbutton1:hover {
            background-color: white;
            width: 14%;
            max-width: 14%;
            height: inherit;
            max-height: inherit;
            color: #36bca4;
            border: 2px solid #36bca4;
            -webkit-box-shadow: 0 8px 6px -6px #8888, 0 0 7px rgba(0, 0, 0, 0.2) inset;
    
            
            }

.flagg {
	
	width: 15%;
	float: right;
	margin-top: 2%;
	padding: 0;
}

.flagg img {
	width: 15%;
	border-radius: 50%;
	margin-top: 0;
}

.boxinfo ikon {
    width: 55%;
    z-index: 2;
    position:absolute;
    top: 2%;
    padding-top: 3%;
}
.ikon{
    width: 20%;
    padding-top: 15%;
}

.header {
    width: 100%;
    margin-top: 7%;
    
}

.header img {
    width: 100%;
    height: auto;
    overflow:visible;
    position: relative;
    margin-bottom: 0;
    
  
}



/* 
header {
    height: 100vh;
    width: 100vw;
    background-image: url("women.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
} 
*/

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.testimage {
    width: 100%;
    height: auto;
    display: inline-block;
    background-color: #36bca4;
    padding-top: 3%;
    padding-bottom: 3%;
	margin-top: 10%;
}

.testimagebilde {
    display: inline-block;
    width: 40%;
    height: 60%;
    float: right;
    margin-right: 2%;
    margin-top: 5%;
    background-color: #36bca4;
}

.testimagetext {
    width: 50vw;
    padding: 1%;
    float: left;
    margin-top: 2%;
    text-shadow: 2px 2px #8888;
}



.testimagebilde img {
    overflow: hidden;
    border-radius: 10% 5%;
    width: 100%;
    margin-bottom: 1%;
    border: 5px solid #ddd;
    
}

#textbox {
    font-family: 'Niramit', sans-serif;
    color: white;
    font-size: 18px;
    
}

.testimagetext h2 {
    margin-top: 2%;
    text-transform: capitalize;
    color: white;
    font-size: 200%;
    font-family: 'Niramit', sans-serif;
}



.secondsection {
    background-color: white;
    height: auto;
    overflow: hidden;
    display: inline-block;
    position: static;
}

.secondsection h1 {
    padding-top: 2%;
    padding-left: 6%;
    text-transform: capitalize;
    color: #36bca4;
    font-size: 50px;
}



article h6 {
    text-transform: capitalize;
    color: #36bca4;
    font-size: 20px;
    display: inline-block;
    margin: 3%;
    width: 20%;
    color: #36bca4;
    font-family: 'Niramit', sans-serif;
    padding-top: 1%;

}

article {
    margin-bottom: 15%;
    width: 100%;
}

article p {
    display: inline-block;
    margin: 3%;
    width: 40%;
    color: #36bca4;
    font-family: 'Niramit', sans-serif;
    font-size: 20px;
    padding: 1%;
    border-left: 1px solid #36bca4;
    border-right: 1px solid #36bca4;
}

.container {
    font-family: 'Niramit', sans-serif;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

.containerp {
    border: 1px solid #36bca4;
    margin-bottom: 10%;
    color: #2c8f88;
    margin-bottom: 10%;
    -webkit-box-shadow: 0 8px 6px -6px #8888, 0 1px 3px 2px rgba(0, 0, 0, 0.2) inset;
}

.containerp1 {
    border: 1px solid #36bca4;
    background-color: #36bca4;
    color: white;
    margin-bottom: 10%;
    margin-top: 5%;
    font-size: 20px;
    -webkit-box-shadow: 0 8px 6px -6px #8888, 0 1px 3px 2px rgba(0, 0, 0, 0.2) inset;
}

.containerp1 p {
    margin-top: 6%;
    text-shadow: 2px 2px #8888;
}

.apphoto {
    vertical-align: middle;
    float: center;
	position: static;
	width: auto;
	margin-top: 2%;
	
	display: inline;
    
    
 
	
}

.apphoto img {
	width: 50%;
}

.container p {
    font-size: 100%;
    margin-left: 5%;
    margin-right: 5%;
}

.container h1 {
    color: #36bca4;
    
    margin-top: 5%;
    
}

.container h3 {
    color: #36bca4;
    margin-top: 3%;
}




.avsnitt {
    background-color: #36bca4;
    width: 100%;
    color: white;
    font-family: 'Niramit', sans-serif;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 0;
}

.avsnitt h1 {
    padding-top: 5%;
    font-family: 'Niramit', sans-serif;
}

.avsnitt h2 {
    padding-top: 3%;
    font-family: 'Niramit', sans-serif;
}

.avsnitt p {
    padding-bottom: 4%;
	margin: 4%;
    font-family: 'Niramit', sans-serif;
}

.team {
    margin: 0 auto;
    width: 70%;
}

.infobox {
    align-content: center;
    display: flex;
    flex-direction: row;
    position:inherit;
    margin-left: 5%;
    margin-right: 5%;
    
    
}

.infobox1 {
    align-content: center;
    display: flex;
    flex-direction: row;
    position:inherit;
    margin-left: 5%;
    margin-right: 5%;
    
    
}


.boxinfo {
    border-radius: 15% 25% 15%;
    border: 3px round #36bca4;
    width: 100%;
    height: auto;
    background-color: #36bca4;;
    text-align: center;
    font-family: 'Niramit', sans-serif;
    margin-left: 3%;
    float: center;
    -webkit-box-shadow: 0 8px 6px -6px #8888, 0 1px 3px 2px rgba(0, 0, 0, 0.2) inset;

}

.boxinfologo {
	margin-top: 20%;
	width: 60%;
	border-radius: 15% 25% 15%;
	background-color: white;
	-webkit-box-shadow: 0 8px 6px -6px #8888, 0 1px 3px 2px rgba(0, 0, 0, 0.2) inset;
}

.boxinfo img {
    -webkit-box-shadow: 0 8px 6px -6px #8888, 0 1px 3px 2px rgba(0, 0, 0, 0.2) inset;

}

.boxinfoi {
    border-radius: 15% 25% 15%;
    border: 3px round #36bca4;
    width: 70%;
    height: auto;
    background-color: #36bca4;;
    text-align: center;
    font-family: 'Niramit', sans-serif;
    margin-left: 3%;
    float: center;
    -webkit-box-shadow: 0 8px 6px -6px #8888, 0 1px 3px 2px rgba(0, 0, 0, 0.2) inset;

}

.boxinfoi p {
    margin-left: 15%;
    margin-right: 15%;
	margin-bottom: 10%;
    color: white;

}



.infobox h3 {
    color: white;
    padding-top: 3px;
}



.infoboxcontainer {
    margin-bottom: 8%;
    margin-top: 8%;
}



.infoboxtext {
    width: 55%;
    height: auto;
    text-align: center;
    font-family: 'Niramit', sans-serif;
    margin-left: 3%;
    float: center;
    display: inline-block;
    
}

.infoboxcontainerteam {
    margin-bottom: 3%;
    margin-top: 3%;
}


#slider{
    width:55%;
    height: auto;
    opacity: 0.8;
    filter: alpha(opacity=50);
    
    overflow: hidden;
    margin: 0 auto;
    float: center;
    
    margin-bottom: 5%
}

#slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 25s slider infinite;
}

#slider figure img{
    width:20%;
    height: 25em;
    float: left;
}

@keyframes slider{
    0%{
        left: 0;
    }
    20%{
        left:0;
    }
    25%{
        left: -100%
    }
    45{
        left: -100%
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    90%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
}

#footer{
  background-color: #36bca4;
  position: relative;
  height: 100px;
  width: 100%;
  clear: both;

}

.logofooter{
  float: right;
  margin-top: 5%;
  top: 50%;
  left: 50%;
  /*transform: translate(-50%, -50%); */

}



.logofooter img {
	display: inline-block;
  width: 40px;
  height: 40px;
  background: white;
  color: black;
  margin: 0 6px;
  border-radius: 50%;
  transition: 0.4s;
  font-size: 26px;
  text-decoration: none;
  
}

.logofooter img:hover{
  background: #e67e22;
}



.kontakt {
  float: left;
  margin-left: 2%;
}

.kontakt h5{
  font-size: 100%;
  font-family: sans-serif;
  font-weight: normal;
  color: white;
}



@media only screen and (max-width:1200px){
    
    #nav {
        height: 3em;
    }
    
    .header img {
        margin-top: 1%;
    }
    
    .navbutton {
        font-size: 70%;
        width: 50%;
        max-width: auto;
        height: 30%;
        max-height: 30%;
    }
    
    .navbutton:hover {
        font-size: 70%;
        width: 50%;
        max-width: auto;
        height: 30%;
        max-height: 30%;
    }
    
    .navbutton1 {
        font-size: 70%;
        width: 50%;
        max-width: auto;
        height: 30%;
        max-height: 30%;
    }
    
    .navbutton1:hover {
        font-size: 70%;
        width: 50%;
        max-width: auto;
        height: 30%;
        max-height: 30%;
    }
	
	.navbutton, .navbutton1, .navbutton:hover, .navbutton1:hover p {
		margin-top: 0;
	}
	
	#nav .logo {
		margin-top: 1em;
		width: 2%;
		float: left;
		padding: 0;
	}
	
	
	
	.flagg {
		margin-top: 1em;
		
	}
	
	
	
	.infobox1 {
    display: block;
	height: auto;
	margin: auto;
	margin-top: 5%;
    
    
}
	
	.boxinfoi {
    border-radius: 15% 25% 15%;
    border: 3px round #36bca4;
    width: 70%;
    height: auto;
    background-color: #36bca4;;
    text-align: center;
    font-family: 'Niramit', sans-serif;
    margin: auto;
    float: none
    -webkit-box-shadow: 0 8px 6px -6px #8888, 0 1px 3px 2px rgba(0, 0, 0, 0.2) inset;
		display: block;

}

.boxinfoi p {
    margin-left: 15%;
    margin-right: 15%;
	padding-bottom: 10%;
    color: white;

}
	
	.infoboxcontainer {
		height: auto;
		margin: auto;
	}
    


    
    
.testimagebilde {
    display: block;
    width: 70%;
    float: none;
    margin-top: 1%;
    background-color: #36bca4;
    margin: auto;
}
	
	.testimagebilde img {
		width: 50%;
	}
	

.testimagetext {
    width: 80vw;
    padding: 1%;
    float: none;
    margin-top: 2%;
    margin: auto;
}
  
    
#logo {
    width: 30px;
    height: 30px;
}
	

    
}

@media only screen and (max-width:700px){
    
    
    
    article {
        width: 100%;
        max-width: 100%;
    }
    
article p {
    display: block;
    margin: auto;
    margin-bottom: 5%;
    width: 80%;
}
    .navbutton {
        font-size: 70%;
        width: 10%;
        max-width: 10%;
        height: 7%;
        max-height: 7%;
    }
    
    .navbutton:hover {
        font-size: 70%;
        width: 10%;
        max-width: 10%;
        height: 7%;
        max-height: 7%;
    }
    
    .navbutton1 {
        font-size: 70%;
        width: 10%;
        max-width: 10%;
        height: 7%;
        max-height: 7%;
    }
    
    .navbutton1:hover {
        font-size: 70%;
        width: 10%;
        max-width: 10%;
        height: 7%;
        max-height: 7%;
    }
	
	.logo {
		margin-top: 10%;
	}
	
	.flagg {
		width: 20%;
	}
	
	.flagg img {
		width: 20%;
	}
	
	
    
}

@media only screen and (max-width:450px){
    
    .header {
    width: 100%;
    margin-top: 0%;
}
    
    	.apphoto {
    
	
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: auto;
	margin-right: auto;
	display: block;
    
    
 
	
}

.apphoto img {
	
	margin: auto;
}
    
    
    article {
        width: 100%;
        max-width: 100%;
    }
        
        article p {
        display: block;
        margin: auto;
        margin-bottom: 5%;
        width: 80%;
    }
	
	.navbutton, .navbutton1 {
		width: 20%;
		height: auto;
		font-size: 40%;
	}
	
	.navbutton:hover, .navbutton1:hover {
		width: 20%;
		height: auto;
		font-size: 40%;
	}
	
	.navbutton, .navbutton1, .navbutton:hover, .navbutton1:hover p {
		margin-top: 0;
		padding-top: 5%;
	}
	
	.flagg {
		width: 20%;
		margin-left: 0;
	}
	
	.flagg img {
		width: 30%;
	}
	
	.logo img {
		margin-top: 20%;
	}
	
	.avsnitt {
		width: 100%;
	}
    
	

}
