body, html {
    
    max-width: 1600px;
    background-color: white;
    text-align: center;
    font-size: 90%;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    height: auto;
}

#nav {
	float: center;
    position: fixed;
    z-index: 2;
    background-color: white;
    width: 100vw;
    top: 0;
}



.navbutton {
    background-color: white;
    width: 14%;
    margin-top: 1%;
    margin-bottom: 1%;
    color: #36bca4;
    border: none;
    font-size: 135%;
    font-family: 'Work Sans', sans-serif;
    padding: 20px 7px;
    -webkit-box-shadow: 0 8px 6px -6px #8888,1px 1px 3px rgba(0, 0, 0, 0.1) inset;
    
}


.navbutton:hover {
    
    background-color: white;
    width: 14%;
    color: #36bca4;
    border: 1px solid #36bca4;
    -webkit-box-shadow: 0 8px 6px -6px #8888, 0 0 3px rgba(0, 0, 0, 0.1) inset;
    
    
}

.navbutton1 {
    background-color: #36bca4;
    width: 14%;
    margin: 10px 15px;
    margin-top: 1%;
    margin-bottom: 1%;
    color: white;
    border: none;
    font-size: 135%;
    padding: 20px 7px;
    -webkit-box-shadow: 0 8px 6px -6px #8888, 0 1px 3px 2px rgba(0, 0, 0, 0.2) inset;
}
            
.navbutton1:hover {
    background-color: white;
    color: #36bca4;
    border: 2px solid #36bca4;
    -webkit-box-shadow: 0 8px 6px -6px #8888, 0 0 7px rgba(0, 0, 0, 0.2) inset;
}


.comshare {
    margin-top: 10%;
    margin-left: 2%;
    z-index: 1;
    position: absolute;
    width: 150px;
    height: 50px;
    ms-transform: rotate(-7.5deg);
    -webkit-transform: rotate(-7.5deg);
    transform: rotate(-7.5deg);
}

#logo {
    width: 50px;
    height: 50px;
    padding: 0;
    margin-left: 1%;
    float: left;
    margin-top: 1%;
}

 
header {
    width: 100vw;
    height: 100vh;
    clip-path: polygon(0 30%, 100% 0, 100% 1000%, 0 100%);
    position: relative;
    margin-top: 1%;
  
}

header img {
    width: 100vw;
    height: 100%;
}


/* 
header {
    height: 100vh;
    width: 100vw;
    background-image: url("women.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
} 
*/

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}


nav {
      position: fixed;
    overflow: visible;

    background-color: black;
    width: 100%;
    height: auto;

    opacity: 0.9;
    filter: alpha(opacity=90);
    box-shadow: 4px 4px 10px dimgrey;

    font-size: 90%;
    text-align: center;
    z-index: 500;
    margin-bottom: 10vh;
}

 .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: inherit;
    min-width: 50px;
    box-shadow: 4px 4px 10px dimgrey;
    padding: 7px 7px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    z-index: 1;
}

.testimage {
    width: 100%;
    height: auto;
    display: inline-block;
    background-color: #36bca4;
}

.testimagebilde {
    display: inline-block;
    width: 40%;
    float: right;
    margin-right: 2%;
    margin-top: 1%;
    background-color: #36bca4;
}

.testimagetext {
    width: 50vw;
    padding: 1%;
    float: left;
    margin-top: 2%;
}

.testimagebilde img {
    overflow: hidden;
    border-radius: 10% 5%;
    width: 100%;
    margin-bottom: 1%;
}

#textbox {
    top: 50%;
    left: 50%;
    font-family: 'Niramit', sans-serif;
    color: white;
    font-size: 16px;
}

.testimage h2 {
    margin-top: 2%;
    text-transform: capitalize;
    color: white;
    font-size: 50px;
    font-family: 'Niramit', sans-serif;
}

.secondsection {
    background-color: white;
    margin-top: 2%;
    height: auto;
    overflow: hidden;
    margin-bottom: 2%;
}

.secondsection h1 {
    padding-top: 2%;
    text-transform: capitalize;
    color: #36bca4;
    font-size: 50px;
}

article p {
    display: inline-block;
    margin: 3%;
    width: 40%;
    color: #36bca4;
    font-family: 'Niramit', sans-serif;
    font-size: 20px;
    padding: 1%;
    border-left: 1px solid #36bca4;
    border-right: 1px solid #36bca4;
}

#footer{
  background-color: #36bca4;
  position: relative;
  height: 100px;
  margin-top: 2%;
  clear: both;

}

.logofooter{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.logofooter a{

  display: inline-flex;
  width: 40px;
  height: 40px;
  background: white;
  color: black;
  margin: 0 6px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  font-size: 26px;
  text-decoration: none;
}

.logofooter a:hover{
  background: #e67e22;
}

.logofooter a:hover > i {
  transform: scale(1.6) rotate(25deg);
}

@media only screen and (max-width:1200px){
    

.comshare {
    
    display: none;
}
    
    
.testimagebilde {
    display: block;
    width: 80%;
    float: none;
    margin-top: 1%;
    background-color: #36bca4;
    margin: auto;
}

.testimagetext {
    width: 80vw;
    padding: 1%;
    float: none;
    margin-top: 2%;
    margin: auto;
}
    
header {
    width: 100vw;
    height: 70%;
    background-size: cover;
    margin-top: 5%;
    clip-path: none;
}

    
header img {
    height: 100%;
}
    
#logo {
    width: 30px;
    height: 30px;
}
    
}

@media only screen and (max-width:700px){
    
article p {
    display: block;
    margin: auto;
    margin-bottom: 5%;
    width: 80%;
}
    
}